@use 'sass:math';

.roulette {
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.hold {
  position: absolute;
  width: 500px;
  height: 500px;
  clip: rect(0px, 500px, 500px, 251px);
}

.roulette-part {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  clip: rect(0px, 250px, 500px, 0px);
}

$maxNumberOfItems: 50;
@for $numberOfItems from 1 to $maxNumberOfItems {
  $sliceAngle: math.div(360deg, $numberOfItems);
  @for $i from 0 to $numberOfItems {
    #slice-#{$numberOfItems}-#{$i + 1} {
      transform: rotate($i * $sliceAngle);
    }

    #slice-#{$numberOfItems}-#{$i + 1} .roulette-part {
      transform: rotate($sliceAngle);
    }

    .slice-name-#{$numberOfItems}-#{$i + 1} {
      position: absolute;
      transform: rotate(math.div($sliceAngle, 2));
      height: 500px;
      width: 500px;
      z-index: 1;
      color: black;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      clip: rect(0px, 280px, 250px, 220px);
    }
  }
  @for $i from 1 to 50 {
    @keyframes spin-#{$numberOfItems}-#{$i} {
      to {
        transform: rotate(
          ($numberOfItems * 2 + $i) * $sliceAngle + math.div($sliceAngle, 2)
        );
      }
    }

    .spin-animation-#{$numberOfItems}-#{$i} {
      animation: spin-#{$numberOfItems}-#{$i};
      animation-duration: 2500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.background-blue {
  background-color: darken(#ebf0fc, 20%);
}

.background-red {
  background-color: darken(#fdeef1, 20%);
}

.background-green {
  background-color: darken(#ebf8f3, 20%);
}

.slice-text {
  color: white;
  margin-top: 20px;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
