@use 'sass:math';

$width: 80vh;
.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: $width;
  width: $width;
}

.hold {
  position: absolute;
  width: $width;
  height: $width;
  clip: rect(0px, $width, $width, $width / 2);
}

.winner-board {
  position: absolute;
  border-radius: 20px;
  border: 5px solid white;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  top: 380px;
  animation: 1s fade-in;
  z-index: 1;
}

.winner-name {
  color: white;
  font-weight: 600;
}

@keyframes slidein {
 from { transform: scale(1, 1); }
 to   { transform: scale(1.2, 1.2); }
}

@keyframes opacity-flash {
  0% {
    opacity: 1;
  }
  16.667% {
    opacity: 0.33;
  }
  33.333% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.33;
  }
  66.667% {
    opacity: 0.8;
  }
  83.333% {
    opacity: 0.33;
  }
  to {
    opacity: 1;
  }
}

.wheel-part {
  position: absolute;
  width: $width;
  height: $width;
  border-radius: 100%;
  clip: rect(0px, $width / 2, $width, 0px);
}

$maxNumberOfItems: 50;
@for $numberOfItems from 1 to $maxNumberOfItems {
  $sliceAngle: math.div(360deg, $numberOfItems);
  @for $i from 0 to $numberOfItems {
    #slice-#{$numberOfItems}-#{$i + 1} {
      transform: rotate($i * $sliceAngle + math.div($sliceAngle, 2));
    }

    #slice-#{$numberOfItems}-#{$i + 1} .wheel-part {
      transform: rotate($sliceAngle);
    }

    .slice-name-#{$numberOfItems}-#{$i + 1} {
      position: absolute;
      transform: rotate(math.div($sliceAngle, 2));
      height: $width;
      width: $width;
      z-index: 1;
      color: black;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      clip: rect(0px, calc(#{$width} / 2 + 30px), $width / 2, calc(#{$width} / 2 - 30px));
    }

    #slice-#{$numberOfItems}-#{$i + 1}.winner {
      animation-duration: 2s;
      animation-name: opacity-flash;
    }

    #slice-#{$numberOfItems}-#{$i + 1}.loser {
      opacity: 0.25;
      transition: all 0.3s ease-out;
    }
  }

  @for $i from 1 to 100 {
    @keyframes spin-#{$numberOfItems}-#{$i} {
      to {
        transform: rotate(
          -($numberOfItems + $i) * $sliceAngle
        );
      }
    }

    .spin-animation-#{$numberOfItems}-#{$i} {
      animation: spin-#{$numberOfItems}-#{$i};
      animation-duration: 2500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.background-blue {
  background-color: darken(#ebf0fc, 30%);
}

.background-red {
  background-color: darken(#fdeef1, 30%);
}

.background-green {
  background-color: darken(#ebf8f3, 30%);
}

.slice-text {
  color: white;
  margin-top: 20px;
  writing-mode: vertical-lr;
}
