$size: 60vw;
.wheel-knob {
  position: absolute;
  top: -27px * ($size / 500px);
  left: -27px * ($size / 500px);
  height: $size + (54px * $size / 500px);
}

.spin-btn {
  cursor: pointer;
  transition: all 0.25s ease;
}

.spin-btn:hover {
  transform: scale(1.1);
}
