$width: 1000px;
.wheel-knob {
  position: absolute;
  top: -27px * ($width / 500px);
  left: -27px * ($width / 500px);
  height: $width + (54px * $width / 500px);
}

.spin-btn {
  cursor: pointer;
  transition: all 0.25s ease;
}

.spin-btn:hover {
  transform: scale(1.1);
}
