.wheel-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.wheel {
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.hold {
  position: absolute;
  width: 500px;
  height: 500px;
  clip: rect(0px, 500px, 500px, 251px);
}

.wheel-part {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  clip: rect(0px, 250px, 500px, 0px);
}

$maxNumberOfItems: 15;
@for $numberOfItems from 1 to $maxNumberOfItems {
  $sliceAngle: 360deg / $numberOfItems;
  @for $i from 0 to $numberOfItems {
    #pieSlice-#{$numberOfItems}-#{$i + 1} {
      transform: rotate($i * $sliceAngle);
    }

    #pieSlice-#{$numberOfItems}-#{$i + 1} .wheel-part {
      transform: rotate($sliceAngle);
    }

    .slice-name-#{$numberOfItems}-#{$i + 1} {
      position: absolute;
      transform: rotate($sliceAngle / 2);
      height: 500px;
      width: 500px;
      z-index: 1;
      color: black;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      clip: rect(0px, 280px, 250px, 220px);
    }
  }
  @for $i from 1 to 50 {
    @keyframes spin-#{$numberOfItems}-#{$i} {
      to {
        transform: rotate(($numberOfItems * 2 + $i) * $sliceAngle + $sliceAngle / 2);
      }
    }

    .spin-animation-#{$numberOfItems}-#{$i} {
      animation: spin-#{$numberOfItems}-#{$i};
      animation-duration: 2500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.background-blue {
  background-color: #ebf0fc;
}

.background-red {
  background-color: #fdeef1;
}

.background-green {
  background-color: #ebf8f3;
}

.wheel-cursor-container {
  left: calc(50% - 1rem);
  position: absolute;
  z-index: 10;
}

.slice-text {
  color: white;
  margin-top: 20px;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
